@use 'partials/variables' as v;

body {
    background-color: v.$color-background;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

[data-theme='dark'] {
    body {
        background-color: v.$color-background-dark;
    }
}

img {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1,
h2,
h3,
h4 {
    color: v.$color-black !important;
}

[data-theme='dark'] {

    h1,
    h2,
    h3,
    h4 {
        color: v.$color-white !important;
    }
}

textarea {
    resize: none !important;
}

.emoji {
    width: 32px;
    height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}



.pagination-custom {
    margin: 20px 0;
}

.pagination-link {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid v.$color-border;
    color: v.$color-primary-dark;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

[data-theme='dark'] {
    .pagination-link {
        border: 1px solid v.$color-border;
        color: v.$color-white;
    }
}

.pagination-link:hover {
    background-color: v.$color-primary-hover;
    color: white;
    text-decoration: none;
    border: 1px solid v.$color-primary-hover;
}

.pagination-link.active {
    background-color: v.$color-btn-primary;
    color: white;
    border: 1px solid v.$color-btn-primary;
}

.pagination-link.disabled {
    color: v.$color-border;
    cursor: default;
}

.pagination-link.disabled:hover {
    color: white;
}

.titulo {
    font-size: xx-large;
    font-weight: 700;
    color: v.$color-primary-title;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid v.$color-border;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

[data-theme='dark'] {
    .titulo {
        color: v.$color-white;
        border-bottom: 1px solid v.$color-border;
    }

    .navigation-buttons {
        .btn {
            border: 1px solid v.$color-btn-primary !important;
        }

        a {
            background-color: v.$color-btn-primary !important;
        }

        a:hover {
            background-color: #0d60dd !important;
        }
    }
}


.navigation-buttons {
    margin-right: 10px;

    a {
        background-color: v.$color-primary-title !important;
    }
}

a {
    text-decoration: none !important;
}

a.custom-link {
    text-decoration: none !important;
    color: v.$color-primary-title !important;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

a.custom-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: v.$color-primary-hover;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.custom-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

a.custom-link:hover {
    color: #0077cc !important;
}


.btn:focus {
    outline: none;
    box-shadow: none;
}

.text-decoration-none {
    text-decoration: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    display: none;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu.active .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

input[type="file"] {
    color: v.$color-black;
    background-color: v.$tr-bg-color;
    border: 1px solid v.$color-border;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;

    &::-webkit-file-upload-button {
        background-color: #0077cc;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 5px;
        font-size: 0.9em;
        cursor: pointer;

        &:hover {
            background-color: darken(#0077cc, 10%);
        }
    }
}

[data-theme='dark'] {

    .dropdown-menu.dropdown-menu-end.show,
    .dropdown-menu {
        background-color: v.$color-primary-dark !important;
        border-color: v.$color-background-dark;
    }

    .dropdown-item {
        color: v.$color-white !important;
    }

    .dropdown-item:hover {
        background-color: v.$color-primary-title !important;
    }

    input[type="file"] {
        color: #ffffff;
        background-color: #2c323a;
        border: 1px solid #3b4149;

        &::-webkit-file-upload-button {
            background-color: #0077cc;
            color: #ffffff;

            &:hover {
                background-color: darken(#0077cc, 10%);
            }
        }
    }

    a.custom-link {
        color: v.$color-btn-primary !important;
    }

    a.custom-link::before {
        background-color: v.$color-white;
    }

    a.custom-link:hover {
        color: v.$color-white !important;
    }

    .summary-card, .stats-box {
        border: none;
    }
}

@media (max-width: 768px) {
    .dropdown-submenu .dropdown-menu {
        display: block;
    }

}