@forward 'partials/variables';
@forward 'global';

@forward 'components/switch_toggle';
@forward 'components/buttons';
@forward 'components/alerts';
@forward 'components/forms';
@forward 'components/navbar';
@forward 'components/user';
@forward 'components/canal';
@forward 'components/modal';
@forward 'components/videos';
@forward 'components/stream';
@forward 'components/estadisticas';
@forward 'components/etiquetas';
@forward 'components/comments';
@forward 'components/table';
@forward 'components/search-bar';
@forward 'components/activity';
@forward 'components/accordion';
@forward 'components/playlist';
@forward 'components/publicidad';
@forward 'components/ajuste';
@forward 'components/larapexChartDarkTheme';
@forward 'components/transacciones';

@forward 'layouts/container';
@forward 'layouts/footer';
@forward 'layouts/sidebar';

@forward 'vendors/bootstrap';