@use '../partials/variables' as v;

.btn-primary {
    background-color: v.$color-primary-light;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.comment {
    max-width: 80px;
}

.btn-primary:hover {
    background-color: v.$color-primary-hover;
}

button.close {
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
}

button.close:focus {
    outline: none;
    box-shadow: none;
}

.button-info {
    width: 32px;
    height: 31px;
    font-size: 14px;
    background-color: v.$color-btn-primary !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white !important;
    border-radius: 3px;
    margin-left: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-info:hover {
    background-color: v.$color-primary-hover !important;
}
