@use '../partials/variables' as v;

.comments-page-container {
    width: 80%;
    max-width: 1200px;

    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.comments-page-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comments-page-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

.comments-page-container .form-group label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    margin: 0;
}

.comments-page-container .form-control {
    width: 100%;
    box-sizing: border-box;
}

.comments-page-container .form-control[type="number"] {
    -moz-appearance: textfield;
}

.comments-page-container .form-control[type="number"]::-webkit-inner-spin-button,
.comments-page-container .form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 768px) {
    .comments-page-container {
        padding: 15px;
    }

    .comments-page-container .form-group {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .comments-page-container {
        padding: 10px;
    }
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-buttons .btn {
    margin: 0 5px;
}

.respuesta-box {
    border: 0 !important;
    border-radius: 0 !important;
    border-left: 1px solid #dddddd !important;
}

.comment-box {
    margin: 5px;
    padding: 3.5px 10px;
    border-radius: 5px;
    max-width: 600px;
    min-height: 100px;
    background-color: v.$color-comment-box;
}

.custom-edit-btn {
    background-color: #6f42c1 !important;
    color: #fff !important;
    border: 0 !important;

}

.custom-edit-btn:hover {
    background-color:  #5a2a91 !important;
    border: 0 !important;
}