@use '../partials/variables' as v;

.stats-container {
    max-width: 1500px;
    margin: auto;
    height: auto;
    min-height: 300px;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.stats-box {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid v.$color-border;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

[data-theme='dark'] {
    .stats-box {
        background-color: v.$color-sidebar-hover-dark;
    }
}

.stats-title {
    font-size: 20px;
    font-weight: bold;
    color: #042234;
    margin-bottom: 10px;
}

.stats-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.stats-list li {
    margin-bottom: 5px;
}

.stats-list a {
    color: v.$color-primary-hover;
    text-decoration: none;
    transition: color 0.3s ease;
}

.stats-list a:hover {
    color: v.$color-primary-light;
}

.summary-stats-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
    justify-content: space-around;
    gap: 1px;
    margin-bottom: 40px;
    padding: 20px;
}

.summary-card {
    background-color: #ffffff;
    border: 1px solid v.$color-border;
    border-radius: 8px;
    box-shadow: 0 4px 12px v.$shadow-color;
    padding: 20px;
    text-align: center;
    flex: 1 1 200px;
    max-width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }

    i {
        color: v.$color-primary-dark;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.25rem;
        color: v.$color-primary-title;
        margin-bottom: 5px;
    }

    p {
        font-size: 1.8rem;
        font-weight: bold;
        color: v.$color-primary-dark;
        margin: 0;
    }

    @media (max-width: 768px) {
        flex: 1 1 150px;
        max-width: 100%;
    }
}

[data-theme='dark'] {
    .summary-card {
        background-color: v.$color-sidebar-hover-dark;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

        i {
            color: v.$color-primary-light;
        }

        h3 {
            color: v.$color-white;
        }

        p {
            color: v.$color-white;
        }
    }
}
