@use '../partials/variables' as v;

.container-etiquetas {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-column-etiqueta,
.list-column {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-column-etiqueta h2,
.list-column h2 {
    margin-top: 0;
}

.form-column-etiqueta {
    text-align: center;
}

.list-column {
    ul {
        list-style-type: none;
        padding: 0;
        overflow-y: auto;
        max-height: 500px;
        margin-bottom: 0;
    }

    ul li {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.etiqueta-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.etiqueta-text {
    flex-grow: 1;
}

.etiqueta-actions {
    display: flex;
    gap: 5px;
    padding-right: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 1080px) {
    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}


.etiquetas-container {
    padding: 20px;
    max-width: 1200px;
    min-height: 560px;
    margin: auto;
}

.etiquetas-list-content {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }

}

.etiqueta-card {
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    min-width: 250px;
    margin: auto;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    .etiqueta-icon {
        font-size: 3rem;
        color: v.$color-primary-title;
        margin-bottom: 15px;
    }

    .etiqueta-content {
        h3 {
            font-size: 1.5rem;
            color: v.$color-primary-dark;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            color: #666;
            margin-bottom: 15px;
        }

        .ver-videos-btn {
            background-color: v.$color-primary-title;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            font-size: 1rem;
            display: inline-block;
            transition: background-color 0.3s ease;
            font-weight: bold;

            i {
                margin-right: 8px;
            }

            &:hover {
                background-color: v.$color-primary-hover;
            }
        }
    }
}

[data-theme='dark'] {
    .etiqueta-card {
        background-color: v.$color-sidebar-hover-dark;

        .etiqueta-icon {
            color: v.$color-primary-hover;
        }

        .etiqueta-content {
            p {
                color: #adadad;
            }

            .ver-videos-btn {
                background-color: v.$color-primary-hover;
                color: #ffffff;

                &:hover {
                    background-color: v.$color-primary-title;
                }
            }
        }
    }

    .form-column-etiqueta,
    .list-column {
        background-color: v.$color-background-dark;
        border: 1px solid #2c323a;
        color: v.$color-white;
    }
}

body {

    * {
        scrollbar-width: thin;
        scrollbar-color: v.$color-btn-primary v.$color-border;
    }


}

[data-theme='dark'] {
    body {

        * {
            scrollbar-width: thin;
            scrollbar-color: v.$color-white #3a424d;
        }
    
    }
}