@use '../partials/variables' as v;

.btn-info {
    background-color: v.$color-btn-primary !important;
    color: #ffffff !important;
    border: 1px solid v.$color-border;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.btn-info:hover {
    background-color: v.$color-primary-hover !important;
}

[data-theme='dark'] {
    .btn-info {
        background-color: v.$color-primary-dark !important;
        color: #ffffff !important;
        border: 1px solid v.$color-border-dark;
    }

    .btn-info:hover {
        background-color: v.$color-primary-title !important;
        border: 1px solid v.$shadow-color !important;
    }
}

.btn-info:focus {
    outline: none;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid v.$color-border;
    box-shadow: 0px 0px 10px v.$shadow-color;
    outline: none;
    background-clip: padding-box; /* Evita conflictos de bordes */
    margin: 0 !important; /* Fuerza anular el margen de _forms.scss */
    max-width: none; /* Permite que ocupe el espacio del input-group */
}

[data-theme='dark'] {
    .search-bar {
        border: 1px solid v.$color-border-dark;
        box-shadow: 0px 0px 10px v.$shadow-color;
        background-color: v.$color-background-dark; 
        color: v.$color-white;
    }
    
    /* Asegurar que el input no se ponga blanco al escribir en dark mode */
    .search-bar:focus {
        background-color: v.$color-background-dark;
        color: v.$color-white;
    }
}

.search-bar:focus {
    outline: none;
}