@use '../partials/variables' as v;

.table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: v.$color-primary-title;
        color: v.$color-footer-text;
    }

    th,
    td {
        padding: 5px;

        font-size: small;
    }

    tr:nth-child(even) {
        background-color: v.$tr-bg-color;
    }

    tr:hover {
        background-color: v.$color-primary-light;
        color: v.$color-footer-text;
        cursor: pointer !important;
    }

    thead tr:hover {
        background-color: v.$color-primary-dark;
        color: v.$color-footer-text;
        cursor: default !important;
    }
}

.time-column {
    text-align: right;

    .fas.fa-history {
        color: green;
        margin-left: 5px;
    }
}

.table-style {
    input {
        margin-bottom: 20px;
    }
}

[data-theme='dark'] {
    .table {
        color: v.$color-white;

        thead {
            background-color: v.$color-primary-title;
            color: v.$color-footer-text;
        }

        tr:nth-child(even) {
            background-color: v.$color-sidebar-hover-dark;
        }

        tr:hover {
            background-color: v.$color-primary-light;
            cursor: pointer !important;
        }

        thead tr:hover {
            background-color: v.$color-primary-dark;
            cursor: default !important;
        }
    }

    .dataTables_wrapper .dataTables_filter input {
        color: v.$color-white;
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: v.$color-background-dark-search;
        margin-left: 3px;
    }

    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_paginate,
    .dataTables_wrapper .dataTables_processing {
        color: v.$color-white;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border: 1px solid #ccc;
        background-color: transparent;
        color: v.$color-white;
    }
}