@use '../partials/variables' as v;


.user-list {
    list-style-type: none;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.user-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid v.$color-border;
    padding: 10px;
    position: relative;
}

.user-item:hover {
    background-color: v.$tr-bg-color;
}

.user-list .user-item:last-child {
    border-bottom: none;
}


.user-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 10px v.$shadow-color;
    margin-right: 20px;

}

.user-info {
    flex: 1;
}

.user-info h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: v.$color-primary-dark;
}

.user-info p {
    margin: 5px 0;
    color: v.$color-primary-dark;
}

.user-actions {
    margin-left: auto;
}



.user-details-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-top: 50px;
}

.user-photo-large img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 50px auto;
    display: block;
    box-shadow: 0px 0px 10px v.$shadow-color;

}

.user-info-box {
    text-align: left;
    margin: 0px 20px;
    color: v.$color-primary-dark;
}


.user-canal-info-box {
    padding: 15px;
    border-radius: 5px;
    background-color: v.$color-comment-box;
    max-height: 300px;
    overflow-y: auto;
}

.btn-action {
    background-color: v.$color-primary-hover;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-action:hover {
    background-color: v.$color-primary-light;
}

.btn-action:focus {
    outline: none;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-back {
    background-color: transparent;
    border: none;
    color: v.$color-primary-light;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.btn-back:hover {
    color: v.$color-primary-dark;
}

.btn-back i {
    margin-right: 5px;
}

.edit-icon {
    position: absolute;
    bottom: 25px;
    left: 54%;
    color: rgb(209, 209, 209);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-size: 25px;
    padding: 2px 10px;
    transition: background-color 0.3s;
}

.edit-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.button-separator {
    border-right: 1px solid v.$color-border;
    margin-right: 2px;
    padding-right: 5px;
}   