@use '../partials/variables' as v;

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar {
    width: 80%;
    max-width: 1000px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid v.$color-border;
    border-radius: 4px;
    box-shadow: 0px 0px 10px v.$shadow-color;
    outline: none;
    margin-top: 50px;
}

.search-bar:focus {
    outline: none;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid v.$color-border;
    padding-bottom: 10px;
    position: relative;
}

.user-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 10px v.$shadow-color;
    margin-right: 20px;
    
}

.user-info {
    flex: 1;
}

.user-info h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: v.$color-primary-dark;
}

.user-info p {
    margin: 5px 0;
    color: v.$color-primary-dark;
}

.user-actions {
    margin-left: auto;
}

.btn-info {
    background-color: v.$color-primary-hover !important;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.btn-info:hover {
    background-color: v.$color-primary-light !important;
}

.btn-info:focus {
    outline: none;
}

.user-details-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-top: 50px;
}

.user-photo-large img {
    width: 250px;
    height: 250px; 
    border-radius: 50%;
    object-fit: cover;
    margin: 50px auto;
    display: block;
    box-shadow: 0px 0px 10px v.$shadow-color;

}

.user-info-box {
    text-align: left;
    margin: 0px 20px;
    color: v.$color-primary-dark;
}


.user-canal-info-box {
    padding: 15px;
    border-radius: 5px;
    background-color: v.$color-comment-box;
    max-height: 300px;
    overflow-y: auto;
}

.btn-action {
    background-color: v.$color-primary-hover;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-action:hover {
    background-color: v.$color-primary-light;
}

.btn-action:focus {
    outline: none;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-back {
    background-color: transparent;
    border: none;
    color: v.$color-primary-light;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.btn-back:hover {
    color: v.$color-primary-dark;
}

.btn-back i {
    margin-right: 5px;
}

