@use '../partials/variables' as v;

body,
h1,
h2,
h3,
h4,
p {
    font-family: 'Roboto', sans-serif;
}

.video-list-container {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 800px;
}

.video-list {
    display: grid;
    gap: 20px;

    @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}



.video-title {
    margin: -10px 0 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: v.$color-primary-dark;

    h5 {
        text-align: center;
        padding: 10px;
        color: white !important;
        margin: 0;
    }

    @media (min-width: 576px) {
        font-size: 14px;
    }

    @media (min-width: 992px) {
        font-size: 16px;
    }
}

.video-info {
    border-radius: 5px;
    padding: 10px !important;

    .video-title {
        font-weight: bold;
        margin: 0 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #f8f9fa;


        @media (min-width: 576px) {
            font-size: 14px;
        }

        @media (min-width: 992px) {
            font-size: 16px;
        }
    }
}

.video-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height: 250px;
    transition: transform 0.3s ease;
}



.video-thumbnail {
    overflow: hidden;
}

.video-thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.video-thumbnail:hover img {
    transform: scale(1.1);
}

.video-info {
    flex: 1;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    background: #f8f9fa;

    .video-title {
        padding-left: 10px;
    }
}

.video-details {
    color: #666;
    margin-bottom: 10px;
}

.card-footer {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    text-align: center;

    a {
        text-decoration: none;
    }
}

.video-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.video-actions {
    text-align: center;
    margin-bottom: 20px;
}

.video-player-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.video-player {
    width: 100%;
    height: auto;
}

.uploader-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .uploader-photo {
        margin-right: 10px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

.video-tags,
.video-ratings {
    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            background: #e9ecef;
            padding: 5px 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }
}

.rating-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-item img {
    margin-right: 10px;
}


.btn {
    margin: 5px;
}

.video-thumbnail-small img {
    max-width: 200px;
    margin-top: 20px;
}

.container-card-video {
    margin-top: 20px;
}

.card-video {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 1000px;

    .card-header {
        background-color: v.$color-header-card;
        color: v.$color-black;
        text-align: center;
        padding: 10px;
    }

    .card-body {
        padding: 20px;
    }

    .custom-input,
    .custom-textarea {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
    }

    .custom-textarea {
        resize: vertical;
    }

    .video-thumbnail-large img {
        max-width: 100%;
        height: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .etiquetas-list {
        max-height: 250px;
        overflow-y: auto;
        padding: 10px;
        border-radius: 8px 0 0 8px;
        border: 1px solid v.$color-border;

        .form-check {
            margin-bottom: 8px;
        }

        @media (min-width: 768px) {
            max-height: 900px;
            overflow-y: auto;
        }
    }
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;

    &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
}

.video-thumbnail {
    position: relative;
}

.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

[data-theme='dark'] {
    .video-card {
        background-color: v.$color-background-dark;
        border: 1px solid #ccc;

        color-sidebar-hover-dark {
            background-color: v.$color-sidebar-hover-dark;

            .video-title {
                background-color: v.$color-sidebar-hover-dark;
            }
        }

    }

    .card-video {
        border: 1px solid #2c323a !important;

    }

    .video-list {
        .video-title {
            color: v.$color-white;
            background-color: v.$color-sidebar-hover-dark !important;
        }
    }

    .uploader-info {
        color: v.$color-white;
    }

    .video-info {
        color: v.$color-white;
        background-color: v.$color-sidebar-hover-dark !important;

        .rating-item {
            background-color: #2c323a;
        }
    }

}