$color-background: #ffffff;

$color-primary-dark: #042234;
$color-primary-light: #0baafe;
$color-primary-hover: #0077cc;
$color-primary-title: #083c5d;

$color-border: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);

$color-footer-text: #ffffff;
$color-footer-background: #042234;
$color-footer-link: #0baafe;
$color-footer-link-hover: #0077cc;

$color-alert-dark: #856404;
$color-alert-light: #fff3cd;
$color-modal-header: #f3f3f3;
$color-black: #363d44;
$color-header-card: rgba(0, 0, 0, .03);
$color-comment-box: #f8f8f8;
$tr-bg-color: #f2f2f2;

$color-btn-primary: #0d6efd;