$color-background: #ffffff;
$color-primary-dark: #042234;
$color-primary-light: #0baafe;
$color-primary-hover: #0077cc;
$color-primary-title: #083c5d;
$color-btn-primary: #0d6efd;
$color-border: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);
$color-footer-text: #ffffff;
$color-footer-background: #042234;
$color-footer-link: #0baafe;
$color-footer-link-hover: #0077cc;
$color-alert-dark: #856404;
$color-alert-light: #fff3cd;
$color-modal-header: #f3f3f3;
$color-black: #1b1b1b;
$color-header-card: rgba(0, 0, 0, .03);
$color-comment-box: #f8f8f8;
$tr-bg-color: #f2f2f2;

$color-background-dark: #161616;
$color-sidebar-hover-dark: #1b1b1b;
$color-border-dark: #1f2327;
$color-background-dark-search: #1b1b1b;
$color-white: #ffffff;

$chart-grid-line-dark: darken($color-sidebar-hover-dark, 5%);
$chart-tooltip-background-dark: $color-background-dark;
$chart-tooltip-text-dark: $color-white;
$chart-tooltip-border-dark: $color-sidebar-hover-dark;
$chart-tooltip-title-background-dark: $color-sidebar-hover-dark;
$chart-tooltip-title-text-dark: $color-white;

$chart-ref-bg-light: $color-background;
$chart-ref-shadow-light: $shadow-color;
$color-chart-emoji-text-light: #4A5568;