@use '../partials/variables' as v;

.container {
    width: 100%;
    max-width: 500px;
    min-width: 100px;
    max-height: 650px;
    min-height: 300px;
    margin: auto;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px v.$shadow-color;
    background-color: v.$color-background;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.container.container-card {
    box-shadow: none;
    max-height: none;
    height: none;
    max-width: 1000px;
    min-width: 100px;
    margin: 0 auto;
}

h3.login-text {
    color: v.$color-primary-dark;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.user-list-container {
    min-height: 800px;
}


.chart-container {
    width: 100%;
    max-width: 800px;
    min-width: 100px;
    height: auto;
    min-height: 300px;
    max-height: 80vh;
    text-align: center;
}

.container-admin {
    width: 100%;
    max-width: 1200px;
    min-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: v.$color-background;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-transaccion {
    width: 1000px;
    max-width: 1400px;
    min-width: 800px;
    max-height: 1000px;
    min-height: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid v.$color-border;
    border-radius: 8px;
    background-color: v.$color-background;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;

    resize: both;
    overflow: auto;

    @media (max-width: 480px) {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    @media (max-width: 768px) {
        max-width: 500px;
        min-width: 400px;
        margin: 20px auto;
        padding: 15px;
    }

    @media (max-width: 1024px) and (min-width: 769px) {
        max-width: 800px;
        min-width: 600px;
        margin: 30px auto;
        padding: 18px;
    }

    @media (min-width: 1920px) and (max-width: 2559px) {
        width: 1100px;
        max-width: 1600px;
        margin: 40px auto;
        padding: 20px;
    }

    @media (min-width: 2560px) {
        width: 1200px;
        max-width: 1800px;
    }
}

.container-publicidad {
    width: 100%;
    max-width: 700px;
    min-width: 100px;
    min-height: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 480px) {
        width: 100%;
        margin: 20px 0;
        padding: 10px;
    }

    @media (max-width: 768px) and (min-width: 481px) {
        max-width: 500px;
        min-width: 200px;
        margin: 30px auto;
        padding: 15px;
    }

    @media (max-width: 1024px) and (min-width: 769px) {
        max-width: 600px;
        min-width: 300px;
        margin: 40px auto;
        padding: 18px;
    }

    @media (min-width: 1920px) and (max-width: 2559px) {
        max-width: 800px;
        min-width: 600px;
        margin: 50px auto;
        padding: 25px;
    }

    @media (min-width: 2560px) {
        max-width: 1000px;
        min-width: 800px;
        margin: 60px auto;
        padding: 30px;
    }
}


[data-theme='dark'] {
    .container {
        box-shadow: 0px 0px 20px v.$shadow-color;
        background-color: v.$color-background-dark;
    }

    .container-transaccion {
        background-color: v.$color-background-dark;
        border: 1px solid v.$color-border;
        color: v.$color-white;

        .table {

            td {
                color: v.$color-white !important;
            }
        }

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-style: none;
        }
    }

    .container-admin {
        background-color: v.$color-background-dark;
    }
}