@use '../partials/variables' as v;

#sidebar-wrapper {
    min-height: 100vh;
    min-width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.sidebar-heading {
    background-color: v.$color-primary-dark;
    color: v.$color-footer-text;
    padding: 15px;
}

.list-group-item-action,
.accordion-button:not(.collapsed) {
    color: v.$color-primary-dark;

}

.list-group-item-action:hover {
    background-color: v.$tr-bg-color !important;
    color: #fff;
}

.navbar,
.sidebar-heading,
.list-group-item-action.active {
    background-color: v.$color-primary-dark;
    color: #fff !important;
}

.accordion-button:not(.collapsed)
.list-group-item-action.active
.list-group-item-action:hover
.accordion-button,
.list-group-item-action {
    border: 1px solid #dee2e6 !important;
}


[data-theme='dark'] {
    #sidebar-wrapper {
        background-color: v.$color-background-dark !important;
        border-right: 1px solid #2c323a;
        border-bottom: 1px solid #dee2e6;
    }

    .list-group-item-action {
        background-color: v.$color-background-dark !important;
        color: v.$color-white !important;
    }

    .list-group-item-action:hover {
        background-color: v.$color-sidebar-hover-dark !important;
    }

    .sidebar-heading {
        background-color: v.$color-background-dark;
    }

    .navbar,
    .sidebar-heading,
    .list-group-item-action.active {
        background-color: v.$color-background-dark;
        color: #fff !important;
    }

    .accordion-button:not(.collapsed),
    .accordion-button,
    .list-group-item-action {
        border: 1px solid #2c323a !important;
    }
}